
body {
    background-color: #f4f6f9;
    padding-top: 56px;
}

.nav-align {
    margin-left: 364px !important;
}

.nav-color {
    background-color: #fffdfd !important;
}

.nav-link1 {
    color: #212529 !important;
    font-size: 14px;
    font-family: myfont, serif;
    padding-right: 1.5rem !important;
}


.mdl-card {
    width: 776px;
    min-height: 0;
    margin: 10px auto;
}

.mdl-card__supporting-text {
    width: 100%;
    padding: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
    width: 25%;
    /* 100 / no_of_steps */
}


/* Begin actual mdl-stepper css styles */

.mdl-stepper-horizontal-alternative {
    display: table;
    width: 100%;
    margin: 0 auto;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
    display: table-cell;
    position: relative;
    padding: 24px;
}

/*.mdl-stepper-horizontal-alternative .mdl-stepper-step:hover,*/
/*.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {*/
/*    background-color: rgba(0, 0, 0, .06);*/
/*}*/

.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
    border-radius: 15% / 75%;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {*/
/*    border-top-right-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*}*/

/*.mdl-stepper-horizontal-alternative .mdl-stepper-step:hover .mdl-stepper-circle {*/
/*    background-color: #757575;*/
/*}*/

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child .mdl-stepper-bar-right {
    display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
    border: 1.5px solid #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 2px 10px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle {
    background-color: rgb(61 168 192);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle:before {
    content: "\2714";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle *,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle * {
    display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle {
    -moz-transform: scaleX(-1);
    /* Gecko */
    -o-transform: scaleX(-1);
    /* Opera */
    -webkit-transform: scaleX(-1);
    /* Webkit */
    transform: scaleX(-1);
    /* Standard */
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle:before {
    content: "\270E";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
    margin-top: 16px;
    font-size: 14px;
    font-weight: normal;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
    text-align: center;
    color: rgba(0, 0, 0, .26);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-title {
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.step-done .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.editable-step .mdl-stepper-title {
    font-weight: 300;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
    font-size: 12px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-optional {
    color: rgba(0, 0, 0, .54);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
    position: absolute;
    top: 36px;
    height: 1px;
    border-top: 1.5px solid #ffffff;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
    right: 0;
    left: 91%;
    /*margin-left: 22px;*/
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
    left: 0;
    right: 90%;
    /*margin-right: 21px;*/
}


.stepper-content {
    min-height: 160px;
    background: #3da8c0;
    display: flex;
    align-items: center;
}

.activeStep {
    color: #3da8c0 !important;
    background: #fffdfd;
}

.head-content {
    color: #fffdfd;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 24px !important;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}


.card {
    padding: 20px;
    border-radius: 15px;
    margin: 50px auto;
}

.card-1 {
    margin-top: -14px !important;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
    padding: 0 !important;
}

.pic1 {
    width: 120px;
    height: 120px;
    border-radius: 50%
}

.product-pic {
    padding-left: auto;
    padding-right: auto;
    width: 100%
}

.category {
    white-space: nowrap;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 8px;
    font-size: 15px;
    color: #3da8c0;
}

.doc-name {
    font-size: 12px;
    color: #666669;
    margin-top: 8px !important;
    min-height: 36px;
}

.price {
    font-size: 18px
}

.sm-text {
    font-size: 14px
}

.fa-star {
    color: #ffc10e;
    cursor: pointer
}

.fa-star-o {
    color: #ffc10e;
    cursor: pointer
}



.filter-header {
    width: 254px;
    right: 5px;
    color: white;
    background: #3da8c0;
    padding: 4px !important;
    position: relative;
}

.header-right {
    position: relative;
    left: 60px;
    font-size: 20px;
}


.header-left {
    font-size: 14px;
}

.first-header-in-filter {
    position: relative;
    font-size: 14px;
    left: -11px;
}

.text-blue {
    color: #3da8c0;
    position: relative;
    left: 31px;
}

.checkbox-search {
    margin-top: 11px;
    width: 195px;
}


.header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.16);
    transition-property: background,color;
    transition-duration: .25s,.25s;
    transition-delay: .1s,.1;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

* {
    font-family: Cairo-regular;
}


.no-p {
    padding: 0!important;
}


.header-nav ul li {
    float: left;
    margin-left: 6px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    list-style: none;
}

[dir=rtl] .header-nav ul li {
    float: right;
}


.no-outline {
    outline: none!important;
}

#header-nav {
    top: 0;
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
    z-index: 100;
}
#header-nav.hide {
    top: -68px;
}


.header-nav ul li a {
    color: #0f1010;
}

.header-nav ul li a:hover{
    color: #f77d26;
    text-decoration: none;
}

.modal .modal-dialog-aside{
    width: 500px;
    max-width:80%; height: 100%; margin:0;
    transform: translate(0); transition: transform .2s;
}


.modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0;}
.modal.fixed-left .modal-dialog-aside{ margin-left:auto;  transform: translateX(100%); }
.modal.fixed-right .modal-dialog-aside{ margin-right:auto; transform: translateX(-100%); }

.modal.show .modal-dialog-aside{ transform: translateX(0);  }

.search-bar {
    direction: rtl;
    cursor: pointer;
    background-color: white !important;
}


.search-bar-no-cursor {
    direction: rtl;
    background-color: white !important;
    height: 38px !important;
}

.action-right {
    float: right;
    display: inline-flex;
}

.actions img {
    width: 30px;
    height: 21px;
}

.actions p {
    padding-right: 6px;
}


.action-left {
    float: left;
    display: inline-flex;
}

.buttons {
    display: flex;
    justify-content: space-between
}

.buttons .button-left {
    width: 50%;
}

.buttons .button-right {
    width: 50%;
}

.buttons .button-right .btn-profile {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: #ccc;
    color: #4d4d4f;
    font-size: 13px!important;
    height: 41px;
}


.buttons .button-left .btn-book {
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #3da8c0;
    font-size: 13px!important;
    height: 41px;
}

.card-content {
    padding: 20px;
}


@media screen and (max-width: 771px) {
    .hide-stepper {
        display: none !important;
    }
    .top-search {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .show-filter {
        display: unset !important;
    }
}

/*@media only screen and (min-width: 771px) {*/
/*    .hide-stepper {*/
/*        display: none !important;*/
/*    }*/
/*}*/


.filter-card-content {
    padding-left: 36px;
}


.card-body-content {
    width: 100%;
}
.card-body-content .card-body-content-right {
    width: 50%;
    color: wheat;
    float: right;
    background: #3da8c0;
    text-align: center;
    padding-top: 7px;
    padding-bottom: -26px;
    font-size: 15px;
}

.card-body-content .card-body-content-left {
    width: 50%;
    float: left;
    background: #3da8c0;
    text-align: center;
    padding-top: 7px;
    color: white;
    font-size: 15px;
}

.filter-card-content .filter-1 {
    display: flex;
    float: right;
}

.filter-card-content .filter-1 p {
    margin-top: 7px;
    font-size: 17px;
    color: #3da8c0;
}

.filter-card-content .filter-1 img {
    height: 30px;
}

.filter-2 {
    float: right;
}
.filter-2 .form-check-label {
    margin-bottom: 0;
    margin-right: 9px;
    font-size: 15px;
}


.filter-3 {
    float: right;
    display: inline-block;
    margin-top: 20px;
}

.filter-3 p {
    color: #1b1a1ab8;
    float: right;
    margin-bottom: 10px;
    font-size: 17px;
}


.filter-2 .duration {
    margin-top: 17px;
    margin-left: 111px;
}

.filter-1 .stars {
    width: 162px;
    margin-top: 38px;
    margin-right: -70px;
    font-size: 22px;
}


.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select>.dropdown-toggle {
    margin-left: 56px;
    margin-top: 45px;
}


.filter-price {
    background: #cccccc;
    padding: 2px;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    display: inline-block!important;
}

.btn-filter {
    background-color: white !important;
    color: #0000006e;
    border: 0;
}

.btn-filter:focus {
    background-color: white !important;
    color: #0000006e !important;
    border: 0 !important;
}
